<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">模拟练习</li>
        </ul>

      </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          
          
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                <div class="col-sm-4">
                <a class="btn btn-success btn-white btn-bold" href="{:url('Topic/adds')}">
                  <i class="ace-icon fa fa-plus icon-only"></i>
                  添加</a>
                <button id="change" class="btn btn-warning btn-white btn-bold">
                  <i class="fa fa-exchange"></i>
                  排序
                </button>
             

                </div>


                <div class="col-sm-8 clearfix">
                  <form class="form-inline pull-right" action="{:url('Topic/analog')}" method="post">
               
                    
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-check"></i>
									</span>
                        <input type="text" name="keywords"  class="form-control search-query" value="{$keywords}" placeholder="请输入需查询的关键字">
                        <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="center">
                    <label class="pos-rel">
                      <input type="checkbox" class="ace checkAll">
                      <span class="lbl"></span>
                    </label>
                  </th>
                  <th>ID</th>
                  <th class="hidden-480">排序</th>
                  <th class="hidden-480">标题</th>
                  <th>说明</th>
                  <th>答题时长</th>
                  <th>开始时间</th>
                  <th>结束时间</th>
                  <th>
                     题库

                  </th>
                  <th>添加时间</th>
                  <th style="border-right:#ddd solid 1px;width:10%;" >操作</th>
                </tr>
                </thead>
                <form id="sortForm" action="{:url('Topic/sorts')}" method="post"> 
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                  <td class="center"><label class="pos-rel">
                    <input type="checkbox" class="ace check" value="{$v.id}">
                    <span class="lbl"></span>
                  </label>
                  </td>
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  <td class="hidden-480"><input class="input-small" type="number" name="{$v.id}" value="{$v.sort}"></td>
                
                  <td>{$v.title}</td>
                  <td>{$v.expl}</td>
                  <td>{$v.times}</td>
          
                  <td>{$v.start_time|date="Y-m-d H:i:s",###}</td>
                   
                  <td>
                      {$v.end_time|date="Y-m-d H:i:s",###}
                  </td>

                  <td>
                      <a class="btn btn-xs btn-info" href="{:url('Topic/looks',array('id'=>$v['id']))}">
                        查看题库
                      </a>

                      <a class="btn btn-xs btn-infos" data-id="{$v.id}" data-toggle="modal" data-target="#add" >
                        导入题库
                      </a>
                  </td>

                  <td>
                      {$v.time|date="Y-m-d H:i:s",###}
                  </td>
                  <td>
                    <a class="btn btn-xs btn-info" href="{:url('Topic/modify',array('id'=>$v['id']))}">
                      <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </a>
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                  </td>
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                </form>
              </table>
              <div class="text-center">
                {$page}
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        </div>
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加</h4>
          </div>
    <form id="logoForm" class="form-horizontal" action="{:url('Topic/addexcels')}" method="post" enctype="multipart/form-data">
          
          <div class="modal-body">
  
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="">文件</label>
                <div class="col-xs-8">
                  <input multiple="" type="file" name="file" required />
                
                </div>
              </div>
             <input name="id" id="id" type="hidden" value="" />
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button  type="submit" class="btn btn-primary">保存</button>
          </div>
           </form>
        </div>
      </div>
    </div>


 {include file="public:header"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

   $(".btn-infos").click(function(){
      var id = $(this).data("id");

      $("#id").val(id);
   })


  })
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/deletea/id/"+id;
		  });
	    }

</script>
 <script>
    $(function(){
      $('#logoForm').ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: 'json'
      });
      
      function checkForm(){
        
        
        }
    
      function complete(data){
        if(data.status==1){
          layer.alert(data.msg, {icon: 5}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }else{
          layer.alert(data.msg, {icon: 6}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }
      }
     
    });
    
    </script>

  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
