<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">题库列表</li>
        </ul>

      </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          
          
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                <div class="col-sm-6">
                <a class="btn btn-success btn-white btn-bold" href="{:url('Topic/add')}">
                  <i class="ace-icon fa fa-plus icon-only"></i>
                  添加</a>
                <button id="change" class="btn btn-warning btn-white btn-bold">
                  <i class="fa fa-exchange"></i>
                  排序
                </button>
                <button class="btn btn-danger btn-white btn-bold del-btn">
                  <i class="ace-icon fa fa-trash-o icon-only"></i>
                  删除
                </button>

                <button class="btn btn-success btn-white btn-bold" data-toggle="modal" data-target="#add">
                    <i class="ace-icon fa fa-pencil"></i>
                    导入每日答题题库</button>

                    <button class="btn btn-success btn-white btn-bold" data-toggle="modal" data-target="#adds">
                        <i class="ace-icon fa fa-pencil"></i>
                        导入政治学习题库</button>

                </div>

                <div class="col-sm-6 clearfix">
                  <form class="form-inline pull-right" action="{:url('Topic/lister')}" method="post">
               
                    <div class="form-group">
                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-th-list"></i>
                      </span>
                          <select class="form-control" name="type" >
                            <option {if condition="$type eq 0"} selected {/if} value="0">题型</option>
                            <option {if condition="$type eq 1"} selected {/if} value="1" >单选</option>
                            <option {if condition="$type eq 2"} selected {/if} value="2" >多选</option>
                            <option {if condition="$type eq 3"} selected {/if} value="3" >填空</option>
                            <option {if condition="$type eq 4"} selected {/if} value="4" >判断</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                      
                            <select class="form-control" name="types" >
                              <option {if condition="$types eq 0"} selected {/if} value="0">类型</option>
                              <option {if condition="$types eq 1"} selected {/if} value="1" >每日答题</option>
                              <option {if condition="$types eq 2"} selected {/if} value="2" >政治学习</option>
                           
                            </select>
                          </div>
                        </div>
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-check"></i>
									</span>
                        <input type="text" name="keywords"  class="form-control search-query" value="{$keywords}" placeholder="请输入需查询的关键字">
                        <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="center">
                    <label class="pos-rel">
                      <input type="checkbox" class="ace checkAll">
                      <span class="lbl"></span>
                    </label>
                  </th>
                  <th>ID</th>
                  <th class="hidden-480">排序</th>
                  <th class="hidden-480" style="width:30%;">题目名称</th>
                  <th>答案选项</th>
                  <th>正确答案</th>
                  <th>题目类型</th>
                  <th>所属类别</th>
                  <th style="border-right:#ddd solid 1px;width:10%;" >操作</th>
                </tr>
                </thead>
                <form id="sortForm" action="{:url('Topic/sort')}" method="post"> 
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                  <td class="center"><label class="pos-rel">
                    <input type="checkbox" class="ace check" value="{$v.id}">
                    <span class="lbl"></span>
                  </label>
                  </td>
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  <td class="hidden-480"><input class="input-small" type="number" name="{$v.id}" value="{$v.sort}"></td>
                
                  <td>{$v.title}</td>
                  <td>{$v.option}</td>
                
          
                  <td>{$v.answer}</td>
                   
                  <td>
                    {if condition="$v.type eq 0"}单选题{/if}
                    {if condition="$v.type eq 1"}多选题{/if}
                    {if condition="$v.type eq 2"}填空题{/if}
                    {if condition="$v.type eq 3"}判断题{/if}
                  </td>
                  <td>
                      {if condition="$v.types eq 0"}每日答题{/if}
                      {if condition="$v.types eq 1"}政治学习{/if}
                     
                    </td>
                  
                  <td>
                    <a class="btn btn-xs btn-info" href="{:url('Topic/modifys',array('id'=>$v['id']))}">
                      <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </a>
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                  </td>
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                </form>
              </table>
              <div class="text-center">
                {$page}
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        </div>
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加</h4>
          </div>
    <form id="logoForms" class="form-horizontal" action="{:url('Topic/addexcel')}" method="post" enctype="multipart/form-data">
          
          <div class="modal-body">
  
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="">文件</label>
                <div class="col-xs-8">
                  <input multiple="" type="file" name="file" required />
                
                </div>
              </div>

          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button  type="submit" class="btn btn-primary">保存</button>
          </div>
           </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="adds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">添加</h4>
            </div>
      <form id="logoForm" class="form-horizontal" action="{:url('Topic/addexcelz')}" method="post" enctype="multipart/form-data">
            
            <div class="modal-body">
    
                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right" for="">文件</label>
                  <div class="col-xs-8">
                    <input multiple="" type="file" name="file" required />
                  
                  </div>
                </div>
  
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭a</button>
              <button  type="submit" class="btn btn-primary">保存</button>
            </div>
             </form>
          </div>
        </div>
      </div>


 {include file="public:header"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });




  })
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/delete/id/"+id;
		  });
	    }

</script>
 <script>
    $(function(){
      $('#logoForm').ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: 'json'
      });
      
      function checkForm(){
        
        
        }
    
      function complete(data){
        // console.log(data);
        if(data.status==1){
          layer.alert(data.msg, {icon: 5}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }else{
          layer.alert(data.msg, {icon: 6}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }
      }
     
    });
    
    </script>

<script>
    $(function(){
      $('#logoForms').ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: 'json'
      });
      
      function checkForm(){
        
        
        }
    
      function complete(data){
        if(data.status==1){
          layer.alert(data.msg, {icon: 5}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }else{
          layer.alert(data.msg, {icon: 6}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }
      }
     
    });
    
    </script>

  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
