<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">题库列表</li>
        </ul>

      </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          
          
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
              
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                
                  <th>ID</th>
                
                  <th class="hidden-480" style="width:30%;">题目名称</th>
                  <th>答案选项</th>
                  <th>正确答案</th>
                  <th>题目类型</th>
                 
                </tr>
                </thead>
               
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                  
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  
                
                  <td>{$v.title}</td>
                  <td>{$v.option}</td>
                
          
                  <td>{$v.answer}</td>
                   
                  <td>
                    {if condition="$v.type eq 0"}单选题{/if}
                    {if condition="$v.type eq 1"}多选题{/if}
                    {if condition="$v.type eq 2"}填空题{/if}
                  </td>

                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                
              </table>
              
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        </div>
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加</h4>
          </div>
    <form id="logoForm" class="form-horizontal" action="{:url('Topic/addexcel')}" method="post" enctype="multipart/form-data">
          
          <div class="modal-body">
  
              <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right" for="">文件</label>
                <div class="col-xs-8">
                  <input multiple="" type="file" name="file" required />
                
                </div>
              </div>

          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button  type="submit" class="btn btn-primary">保存</button>
          </div>
           </form>
        </div>
      </div>
    </div>


 {include file="public:header"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });




  })
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/delete/id/"+id;
		  });
	    }

</script>
 <script>
    $(function(){
      $('#logoForm').ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: 'json'
      });
      
      function checkForm(){
        
        
        }
    
      function complete(data){
        if(data.status==1){
          layer.alert(data.msg, {icon: 5}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }else{
          layer.alert(data.msg, {icon: 6}, function(index){
           layer.close(index);
           window.location.href=data.url;
          });
          
        }
      }
     
    });
    
    </script>

  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
